<h1 class="page-header"><img class="img-responsive" src="/images/inscripciones_banner.jpg" /></h1>
<div class="row">
    <div class="col-xs-6 col-sm-4">
        <img class="img-responsive" src="/images/logo-ppal.jpg" />
    </div>
    <div class="col-xs-6 col-sm-5">
        <img class="img-responsive" src="/images/gel2.jpg" />
    </div>
    <div class="col-xs-6 col-sm-3">
        Tecnologico de Antioquia
    </div>
</div>