{{>headers}}
    <div id="page-content-wrapper">
        <div class="container-fluid">
            {{>banner}}
            <h4 class="sub-header">Bienvenido a la pagina de educacion continua</h4>
            <div class="img-responsive">
                <img class="img-responsive" src="/images/Entrevista-especializaciones.jpg" width="800px" />
            </div>
            {{>copyright}}
        </div>
    </div>

{{>footer}}
